@model List<LateRoomsScraper.Hotel>

@section styles{
    <link href="/assets/css/searchresults.css" rel="stylesheet">
}

<div id="searchResults" class="HotelResults">
@if (Model.Count > 0)
{
    foreach (var hotel in Model)
    {
        <a href="http://m.laterooms.com/en/p9827/pvHotelvsTaxi/@hotel.Url" target="_blank">
            <div class="m-panel-results">
                <div class="hotel-image">
                    <span class="inner">
                        <img alt="Picture of @hotel.Name" src="@hotel.ImageSource"/>
                    </span>
                    <div class="hotel-name">
                        <div class="hotel-name-title">
                            @hotel.Name
                        </div>
                        <div class="hotel-star-rating">
                            @hotel.StarRating<img src="/assets/img/areas/searchresults/star-small.png" alt="Star rating"/>
                        </div>
                        <span class="hotel-address">@hotel.Location</span>
                    </div>
                </div>
                <br/>
                <div class="hotel-score">
                    <div class="hotel-score-inner">
                        <span class="rating-title">Guest Rating</span>
                        <div class="percent-score">
                            <div class="@hotel.Smiley"></div>    
                            <span class="face-score">@hotel.GuestRating</span>
                        </div>
                        <strong>@hotel.NumberOfReviews</strong>
                        <br/>
                    </div>
                    <div class="arrow-price"></div>
                    <div class="hotel-price">
                        <div class="hotel-price-inner">
                            <span>
                                <span class="sr-total">Total Price from</span>
                                <br/>
                                <span class="room-price">£@hotel.TotalPrice</span>
                            </span>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
            </div>
        </a>
    }
}
else
{   
    <div class="row">No hotels found</div>
}
</div>