@model LocalTaxiFare.Models.ResultsViewModel

<div class="container search-results">
    @if (Model.Winner.Name == "Hotel" && Model.PriceDifference > 0)
    {
        <div id="result-info">
            <div class="result-info-inner">
                <span>Hotel is &pound;@string.Format("{0:0.00}", Model.PriceDifference) cheaper</span><br/>So now you can <strong><em>STAY</em></strong> – result!<div class="arrow-down"></div>
            </div>
        </div>
    }
    @if (Model.IsDraw)
    {
        <div id="result-info">
            <span>Hotel is just as cheap…<br />So you might as well <b>stay</b></span>
            <div class="arrow-down"></div>
        </div>
    }
    <div class="results-box">
        <div class="results-box-img">
            <img src="/assets/img/@Model.Winner.Name.ToLower()-wins-icon.png" width="118" height="111" alt="" />
        </div>
        <div class="subheadline">@Model.Winner.SubHeadline</div>
        <div class="price">&pound; @string.Format("{0:0.00}", Model.Winner.Price)</div>
        <div class="show-me-holder">
            <div class="show-me">   
                <a href="@Model.Winner.Uri" class="red-button">Show me</a>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    @if (Model.Loser != null)
    {
        if (Model.Upsell)
        {
            <div id="result-info">
                <span>But a hotel is only £@(string.Format("{0:0.00}", Model.PriceDifference)) more…</span><br/>Still worth a stay?
                <div class="arrow-down"></div>
            </div>
        }
        <div class="results-box">
            <div class="results-box-img">
                <img src="/assets/img/@Model.Loser.Name.ToLower()-icon.png" width="118" height="111" alt="" />
            </div>
            <div class="subheadline">@Model.Loser.SubHeadline</div>
            <div class="price grey">&pound; @string.Format("{0:0.00}", Model.Loser.Price)</div>
            <div class="show-me-holder">
                <div class="show-me">
                    <a href="@Model.Loser.Uri" class="red-button">Show me</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="result-info">
            <span>@Model.LoserText</span>
        </div>
    }
</div>